.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8rem; }
  .content .current-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh; }
    .content .current-offer .intro {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .content .current-offer .intro .copy {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 29.375rem;
        margin: auto; }
