.form-results {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    align-items: center;

    .intro {
        display: flex;
        flex-direction: column;
        margin-left: 4rem;

        .copy {
            display: flex;
            flex-direction: column;
            width: 29.375rem;
        }
    }

    .map {
        width: 32rem;
        margin-right: 4rem;
        margin-left: 2rem;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 41.375rem;

    button {
        border: none;
        border-radius: 0.25rem;
        width: 21.6875rem;
        background-color: $smoke;

        a {
            text-decoration: none;
            color: $tuatara-1;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $white;
        padding: 1rem;
        width: 17.6875rem;

        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.10);

        .row {
            display: flex;
            justify-content: space-between;

            h5 {
                text-align: left;
                max-width: 90%;
                margin-bottom: 1rem;
            }

            span {
                color: $hng;
            }

            p {
                text-align: left;
                max-width: 90%;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            .distance {
                align-self: flex-end;
            }

            img {
                align-self: flex-start;
            }
        }
    }
}